# ==========================
# Maven
# ==========================
torneos-app/target/

# ==========================
# Eclipse
# ==========================
torneos-app/.project
torneos-app/.classpath
torneos-app/.factorypath
torneos-app/.settings/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ
# ==========================
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Sistema operativo
# ==========================
.DS_Store
Thumbs.db
